/* =========================Start NavBar1===================*/
.icon11{
margin: 0 15px;
background-color: white;
font-size: 25px;
color: rgb(4, 4, 86);
cursor: pointer;
}
/* =========================End NavBar1===================*/
.icon-sction2-bage2{
display: flex;
justify-content:space-between;
}
